.reservation {
  display: flex;
  width: 30%;
  height: fit-content;
  flex-direction: column;
  margin: 1rem 0 0 1rem;
  position: sticky;
  top: 10vh;
  border: 1px solid rgb(218, 218, 229);
  border-radius: 2rem;
  margin-top: 3rem;
  background-color: rgb(218, 218, 229);

  p {
    position: relative;
    top: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    text-align: center;
  }

  .widgetContainer {
    margin-top: 0;
    width: 100%;
    padding-bottom: 2rem;
  }
}

@media (max-width: 768px) {
  .reservation {
    width: 100%;
    margin: 1rem 0 0 0;
  }
}
