.reservation {
  display: flex;
  width: 30%;
  height: fit-content;
  margin: 1rem 0 0 1rem;
  position: sticky;
  top: 5vh;

  .widgetContainer {
    margin-top: 0;
    width: 100%;
    border: 1px solid rgb(218, 218, 229);
    border-radius: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
  }
}
