.about {
  background-color: rgb(218, 218, 229);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 5rem 0rem;

  .textContainer {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;

    h1 {
      font-size: 2.4rem;
      padding: 2rem 0rem;
      font-weight: 400;
    }

    p {
      padding: 0.5rem 0rem;
    }

    div {
      padding: 0.2rem 0rem;
      display: flex;

      &:first-of-type {
        padding-top: 1rem;
      }

      .iconText {
        padding-left: 0.5rem;
        font-size: 0.9rem;
        align-self: center;
      }
    }
  }

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;

    img {
      border-radius: 15px;
      height: 500px;
    }
  }
}


//Big phones and tablets

@media (max-width: 768px) {
  .about {
    flex-direction: column;
    padding: 1.5rem;

    .textContainer {
      width: 100%;
      margin-bottom: 3rem;
    }

    .imageContainer {
      width: 100%;
      padding: 0.1rem;
    }
  }
}