.contactTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 10rem 0 1rem 0;
    font-weight: 400;
    font-size: 2.5rem;
  }
  p {
    color: rgb(108, 108, 108);
    font-size: 1.1rem;
    font-weight: 100;
  }
}

