.routes {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 218, 229);
  padding: 4rem 0;

  h1 {
    font-weight: 500;
  }

  p {
    color: rgb(108, 108, 108);
  }

  .routesContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;

    .imgDiv {
      width: 48%;
      height: 55vh;
      border-radius: 1rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }

    .routesList {
      width: 48%;
    }
  }

  .helpDiv {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    width: 60%;
    padding: 2rem 4rem;

    h1 {
      font-weight: 400;
      margin-bottom: 1rem;
    }

    p {
      text-align: center;
    }

    a {
      margin-top: 1rem;
      background-color: rgb(2, 29, 41);
      color: white;
      padding: 0.7rem 1.5rem;
      border-radius: 0.5rem;
      text-decoration: none;
    }
  }
}

@media (max-width: 1300px) {
  .routes {
    .routesContent {
      display: flex;
      flex-direction: column;

      .imgDiv {
        width: 100%;
        margin-bottom: 2rem;
      }

      .routesList {
        width: 100%;
      }
    }
  }
}

@media (max-width: 850px) {
  .routes {
    .helpDiv {
      width: 100%;
      text-align: center;
    }
  }
}
