.apartmentGallery {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .imageDiv {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    button {
      font-size: 1.25rem;
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 4rem;
      border: 1px solid rgb(172, 172, 172);
      outline: none;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;

      &:hover {
        background-color: rgb(225, 225, 225);
        border-color: rgb(144, 144, 144);
      }
    }

    .imageContainer {
      display: flex;
      justify-content: center;
      width: 75%;

      img {
        border-radius: 1rem;
        height: 700px;
      }
    }
  }

  .tilesDiv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    position: relative;

    button {
      outline: none;
      object-fit: cover;
      object-position: center;

      img {
        height: 80px;
        border-radius: 1rem;
        margin: 2rem 0.5rem 0 0.5rem;
        cursor: pointer;
        transition: transform 0.1s ease, box-shadow 0.2s ease;
      }

      .activeTile {
        box-shadow: 0 0 5px black;
      }
    }
  }
}


@media (max-width: 1500px) {
  .apartmentGallery {
    .imageDiv {

      .imageContainer {

        img {
          height: 500px;
        }
      }
    }

  }
}

@media (max-width: 1100px) {
  .apartmentGallery {
    .imageDiv {

      .imageContainer {

        img {
          height: 300px;
        }
      }
    }

    .tilesDiv {
      button {
        img {
          height: 60px;
          border-radius: 0.7rem;
          margin: 1rem 0.5rem 0 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .apartmentGallery {
    .imageDiv {

      .imageContainer {

        img {
          height: 200px;
        }
      }
    }

    .tilesDiv {
      button {
        img {
          height: 40px;
          border-radius: 0.4rem;
          margin: 1rem 0.2rem 0 0.2rem;
        }
      }
    }
  }
}