.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-right: 1rem;

  .numbersDiv {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 1px solid rgb(218, 218, 229);
    border-radius: 1rem;
    margin: 3rem 0;
    padding: 2rem 0;

    .numbersCard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 30px;
      }

      p {
        font-size: 1.7rem;

        &:last-of-type {
          font-size: 1rem;
          color: rgb(108, 108, 108);
        }
      }
    }
  }

  .descriptionTextDiv {
    h1 {
      font-weight: 400;
    }

    p {
      color: rgb(108, 108, 108);
      margin: 1rem 0;
    }
  }

  .utilitiesDiv {
    width: 100%;

    h1 {
      font-weight: 400;
      margin: 2rem 0;
    }

    .gridDiv {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      gap: 2rem;
    }
  }

  .regulationDiv {
    width: 100%;
    padding: 2rem 1.5rem;
    border: 1px solid rgb(218, 218, 229);
    border-radius: 1rem;
    margin-top: 2rem;

    h1 {
      font-weight: 400;
      padding-bottom: 1rem;
    }

    ul {
      li {
        display: flex;

        img {
          width: 30px;
          margin-right: 0.5rem;
        }

        p {
          padding: 0.3rem 0;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .description {
    width: 100%;


  }
}