.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.routesContainer {
  width: 100%;
  background-color: rgb(218, 218, 229);
  display: flex;
  justify-content: center;
}
