.location {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .textContainer {
    margin: 3rem 0 2rem 0;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      font-weight: 400;
    }

    p {
      margin-bottom: 1rem;
      color: rgb(108, 108, 108);
    }
  }

  .mapsContainerDiv {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    height: 80%;

    .mapContainer {
      padding: 1rem;
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(218, 218, 229);
      border-radius: 8px;

      .map {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
    }
  }
}

@media (max-width: 768px) {
  .location {
    .mapsContainerDiv {
      flex-direction: column;
      align-items: center;
      width: 100%;

      .mapContainer {
        width: 90%;
        margin-bottom: 1rem;
        height: 550px;
      }
    }
  }
}

@media (max-width: 500px) {
  .location {
    .mapsContainerDiv {
      .mapContainer {
        height: 400px;
      }
    }
  }
}
