.location {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70vh;

  .textContainer {
    margin: 3rem 0 2rem 0;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      font-weight: 400;
    }

    p {
      margin-bottom: 1rem;
      color: rgb(108, 108, 108);
    }
  }

  .mapContainer {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(218, 218, 229);
    border-radius: 8px;
    padding: 2rem;

    iframe {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
}
