.help {
  width: 100%;
  display: flex;
  justify-content: center;

  .helpContainer {
    width: 80%;
    background-color: rgb(218, 218, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    border-radius: 1rem;

    h1 {
      text-align: center;
      font-weight: 400;
      padding-bottom: 1rem;
    }
    p {
      color: rgb(108, 108, 108);
      width: 50%;
      text-align: center;
    }
    ul {
      display: flex;

      li {
        margin: 1rem;

        p {
          width: 100%;
          font-size: 0.8rem;
          color: black;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .help {
    .helpContainer {
      h1 {
      }
      p {
        width: 100%;
      }
      ul {
        li {
          margin: 1rem 0.5rem 0 0;
        }
      }
    }
  }
}
