.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    padding: 4rem 0 0 0;
  }

  .description {
    width: 50%;
    text-align: center;
    color: rgb(108, 108, 108);
    padding: 1rem 1rem 1rem 1rem;
  }

  ul {
    padding: 4rem 0rem;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    li {
      display: flex;
      justify-content: center;
      width: 20%;
    }
  }
}
