.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;

  .logo {
    background-image: url("../../assets/LogoAPTblack.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem;
    height: 100%;
    width: 20%;
  }

  ul {
    margin: 2rem;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
  }
}
