@keyframes activateLink {
  0% {
  }
  100% {
    color: white;
    background-color: rgb(2, 29, 41);
  }
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgb(218, 218, 229);

  .logo {
    background-image: url("../../assets/LogoAPTblack.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 3rem;
    height: 100%;
    width: 20%;
  }

  ul {
    margin: 2rem;
    width: 80%;
    display: flex;
    justify-content: space-evenly;

    a {
      padding: 1rem;
      border-radius: 0.8rem;
      outline: none;
    }

    .active {
      animation: activateLink 0.2s ease-in-out forwards;
    }
  }
}
