.form {
  margin-left: 1rem;
  width: 25%;
  padding: 1.3rem;
  border: 1px solid rgb(218, 218, 229);
  border-radius: 1.5rem;

  p {
    margin: 0.5rem 0 1rem 0;
  }

  form {
    display: flex;
    flex-direction: column;

    label {
      font-weight: 500;
      margin-top: 1rem;
    }

    input,
    textarea {
      background-color: rgb(234, 234, 242);
      padding: 0.5rem;
      border-radius: 0.5rem;
      outline: none;

      &:focus {
        box-shadow: 0px 0px 3px black;
      }
    }

    .privacy {
      font-size: 0.8rem;
      margin-top: 1rem;

      .privacyLink {
        text-decoration: underline;
      }
    }

    button {
      background-color: rgb(2, 29, 41);
      color: white;
      padding: 0.5rem;
      border-radius: 0.5rem;
      margin-top: 1rem;
      font-weight: 500;
      outline: none;

      &:hover {
        background-color: rgb(4, 40, 57);
      }
    }
  }
}

@media (max-width: 1200px) {
  .form {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .form {
    width: 100%;
    margin-left: 0rem;
  }
}
