.apartmentsTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 400;
    font-size: 2.2rem;
    margin: 3rem 0 1rem 0;
    margin-top: 9rem;
    text-align: center;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
    width: 90%;
    color: rgb(108, 108, 108);
    text-align: center;
  }
}

@media (max-width: 768px) {
  .apartmentsTitle {

    p {
      width: 80%;
    }
  }
}