.footer {
  width: 100%;
  margin-top: 7rem;
  height: 30vh;
  border-top: 1px solid rgb(218, 218, 229);
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    padding: 2rem 0;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(218, 218, 229);

    ul {
      width: 33%;

      li {
        margin: 0.6rem 0;

        h1 {
          font-weight: 100;
          font-size: 1.2rem;
        }

        .title {
          font-size: 1.5rem;
        }
        p {
          color: rgb(108, 108, 108);
        }
      }
    }
  }

  .copyright {
    padding: 2rem 0 3rem 0;
    color: rgb(108, 108, 108);
  }
}
