.hero {
  background-image: url("../../../assets/MainPageBanner.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;

  h1 {
    font-weight: 400;
    font-size: 3rem;
  }
}


//Big phones and tablets

@media (max-width: 768px) {}


//Phones

@media (max-width: 576px) {
  .hero {
    height: 90vh;
    padding: 2rem;
    padding-bottom: 5rem;

    h1 {
      font-size: 1.7rem;
    }
  }
}
