.hero {
  background-image: url("../../../assets/MainPageBanner.jpg");
  background-position: center;
  background-size: cover;
  height: 88vh;
  color: white;
  padding: 4em;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: darken;

  h1 {
    font-weight: 400;
    font-size: 3em;
  }
}
