@keyframes buttonHover {
  100% {
    background-color: rgb(225, 225, 225);
  }
}

.returnButtonDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1.2rem 0;
  border-bottom: 1px solid rgb(218, 218, 229);

  .buttonConatainer {
    width: 62%;
    display: flex;
    justify-content: flex-start;

    .button {
      display: flex;
      font-size: 1rem;
      font-weight: 10;
      padding: 0.5rem 1rem;
      border-radius: 0.7rem;

      &:hover {
        animation: buttonHover 0.2s ease-in-out forwards;
      }

      img {
        margin-right: 1.5rem;
      }

      p {
        font-weight: 600;
      }
    }
  }
}

.detailsDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}